@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    font-family: "Poetsen One", sans-serif;
    color: white;
}

body{
    background-color: #1c1e3b;
}

#Logo{
    margin-top: 25px;
    align-items: right;
    float: left;
    color: white;
}

#Logo-image{
    height: 125px;
}

#Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

#Pages{
    color: white;
    margin-top: 35px;
}

.Pages{
    text-align: right;
    display: inline-block;
    font-size: 25px;
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 750ms;
    border: 10px solid #3d4287;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    background-color: #303468;
}

.Pages:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}

#About{
    margin-right: 75px;
}

#Work{
    margin-right: 75px;
}

#Content{
    padding-top: 85px;
    margin-right: 600px;
    margin-left: 375px;
    width: 450px;
    display: flex;
}

#Image{
    height: 300px;
    border-radius: 50%;
    border: 10px solid #3d4287;
    margin-top: 150px;
}

#Paragraph-Div{
    padding-left: 150px;
}

p{
    width: 600px;
    text-align: center;
    font-size: 25px;
}

#Title{
    text-decoration: underline;
}

#Social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#Social-Background{
    display: flex;
    background-color: #303468;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    border: 10px solid #3d4287;
}

.Platforms-Images{
    height: 50px;
    display: flex;
}

#Github{
    margin-right: 50px;
}