@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    font-family: "Poetsen One", sans-serif;
    color: white;
}

body{
    background-color: #1c1e3b;
}

#Logo{
    margin: auto;
    align-items: right;
    float: left;
    color: white;
}

#Logo-image{
    height: 100px;
    margin-left: 250px;
    margin-top: 100px;
}

a{
    text-decoration: none;
}

#Pages{
    margin: auto;
    text-align: center;
    float: right;
    color: white;
    margin-right: 250px;
    margin-top: 135px;
}

.Pages{
    text-align: right;
    display: inline-block;
    font-size: 25px;
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
}

.Pages:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}

#About{
    margin-right: 75px;
}

#Work{
    margin-right: 75px;
}

#Content{
    padding-top: 90px;
    margin-right: 600px;
    margin-left: 450px;
    width: 500px;
    display: flex;
    float: left;
}

#Image{
    height: 300px;
    border-radius: 50%;
    border: 10px solid #303468;
}

#Paragraph-Div{
    padding-left: 200px;
}

p{
    width: 500px;
    text-align: center;
    padding-top: 15%;
    font-size: 25px;
}

#Social{
    position: fixed;
    bottom: 0;
    margin-bottom: 150px;
    margin-left: 800px;
    background-color: #303468;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
}

.Platforms{
    display: inline-block;
}

.Platforms-Images{
    height: 50px;
}

#Github{
    margin-right: 50px;
}